<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @power.name %>
</p>

<p>
  <strong>Group:</strong>
  <% @groups.each do |g| %>
  <%= g.name %>
  <%  end %>
</p>

<%= link_to 'Edit', edit_power_path(@power), :class => 'btn btn-default' %> |
<%= link_to 'Back', powers_path, :class => 'btn btn-default' %>
