<%= simple_form_for(@game) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.association :system %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-default' %>
  </div>
<% end %>
