<h1>Listing list_values</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Text</th>
      <th>List</th>
      <th>System</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @list_values.each do |list_value| %>
      <tr>
        <td><%= list_value.text %></td>
        <td><%= list_value.list.name %></td>
        <td><%= list_value.system %></td>
        <td><%= link_to 'Show', list_value, :id => 'show', :class => 'btn btn-default' %></td>
        <td><%= link_to 'Edit', edit_list_value_path(list_value), :class => 'btn btn-default' %></td>
        <td><%= link_to 'Destroy', list_value, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-default' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New List value', new_list_value_path, :class => 'btn btn-default' %>
